.exchange-all-listings {
  padding-top: 40px;
  padding-left: 4vw;
  padding-right: 4vw;
}

.exchange-search-box {
  text-align: center;
}

.exchange-filter-box {
  float: left;
  padding: 20px;
  max-width: 300px;
  border: 2px solid #d8dde1;
  border-radius: 5px;
  margin-top: 60px;
  margin-right: 60px;
}

.exchange-listings {
  float: left;
  margin-top: 60px;
}