/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

h1 {
  font-size: 50px;
  font-weight: 600;
  line-height: 68px;
  color: #4A4A4A;
}

h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 36px;
}

h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 36px;
}

p {
  font-weight: 500;
  color: #4A4A4A;
}

a {
  color: #68BBCF;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
}

a:hover {
  color: #2C97B1;
}

.wrapper {
  padding-top: 130px;
  margin-left: 15% !important;
  margin-right: 15% !important;
  padding-bottom: 130px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/** Profile CSS */

#profile .bio-info-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px 30px;
  align-content: flex-start;
  overflow: hidden;
}

#profile .info-text-wrapper {}

#profile .bio {}

#profile .profile-header {
  clear: both;
}

#profile button .settings-button {
  width: auto;
  margin-left: 5px;
  padding: 14px 14px 17px 14px;
  float: left;
  display: flex;
  background-color: #68bbcf;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  float: right;
}

#profile .settings-button:hover {
  background-color: greenyellow;
  margin-left: 2.5px;
  margin-right: 2.5px;
  transform: scale(1.07);
}

#profile .classes, #profile .groups {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px 50px;
  align-content: flex-start;
}

#profile img .profile-img {}

#profile h2 .section-text {}

#profile h3 .desc-text {}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
