$red: #EF5D60;
$green: #64CB85;
$blue: #66C7F4;
$lightgray: #C1CAD6;
$darkgray: #737980;
$white: #FFFFFF;
$offwhite: #F8F9FA;
$yellow: #FFD569;

:export {
  red: $red;
  green: $green;
  blue: $blue;
  lightGray: $lightgray;
  darkGray: $darkgray;
  yellow: $yellow;
  offWhite: $offwhite;
}